/*
*   Menu
*
*   @author GPLUS
*
*/
// ########################## Main 메뉴
.main_menu {
    position: relative;
    z-index: 999;
    
    > * {
        transition: .4s;
    }

    // ########################## Main 메뉴 (상단) - Header쪽 위치
    &[data-menu-position="header"] {
        display: none;

        li {
            flex: 1 0 auto;
        }

        .main_link {
            display: block;
            padding: 15px 0;
            background: {
                color: #3B4951;
            }
            font: {
                size: rem(18);
                weight: 600;
            }
            text: {
                align: center;
                decoration: none;
            }
            color: #fff;
            transition: .25s;

            &:hover {
                background: {
                    color: #fff;
                }
                color: #3B4951;
            }
        }
    }

    // ########################## Main 메뉴 (좌측) - Sidebar
    &[data-menu-position="side"] {
        z-index: 998;
        width: 100%;
        max-width: 250px;

        > li {
            &.show {
                .main_link {
                    background: {
                        color: rgba(0, 98, 255, .05);
                    }
                    color: #155ADD;
                }

                .sub_menu_wrap {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .main_link {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 10px;
            font: {
                size: rem(16);
                weight: 500;
            }
            text: {
                decoration: none;
            }
            color: #222222;
        }

        .sub_menu_wrap {
            ul {
                padding: 0 15px;

                a {
                    font: {
                        size: rem(14);
                        weight: 400;
                    }
                    color: #333333;
                }
            }
        }
    }
}
// ########################## Sub 메뉴
.main_sub_menu {
    position: relative;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;

    &.show {
        .sub_menu_wrap {
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }
}

.sub_menu_wrap {
    position: relative;
    display: flex;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: .4s;

    ul {
        padding: 15px;

        li {
            &:last-child {
                a {
                    padding: 15px;
                }
            }
        }

        a {
            display: block;
            padding: 15px 15px 0;
            font: {
                size: rem(15);
            }
            text: {
                decoration: none;
            }
            color: #fff;
        }
    }
}

.sub_menu_title {
    width: 100%;
    max-width: 15vw;
    padding: 15px;
    background: {
        color: #fff;
    }

    + ul {
        width: 100%;
        max-width: 85vw;
    }
}

[data-menu-position="header"] {
    .main_sub_menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: {
            color: #3B4951;
        }
    }
}


@media all and (min-width: 1025px) {
    .main_menu {
        &[data-menu-position="header"] {
            display: flex;
            align-items: center;
        }
    }
}

@media all and (min-width: 1240px) {
    .main_menu {
        &[data-menu-position="header"] {
            .main_link {
                font: {
                    size: rem(21);
                }
            }
        }
    }
}