/*
*   Message
*
*   @author GPLUS
*
*/
.cmm_info_wrap,
.cmm-info-wrap {
    position: relative;
}

// ########################## Info - title
.info_title,
.info-title {
    position: relative;
    padding: 20px 13px 20px 93px;
    background: {
        color: #558CE7;
    }
    border: {
        radius: 30px;
    }
    box: {
        shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
    font: {
        size: rem(18);
        weight: 400;
    }
    color: #fff;
    z-index: 2;

    img {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(0, -50%);
    }
}

// ########################## Info - Content
.info_content,
.info-content {
    position: relative;
    top: -20px;
    min-height: 115px;
    padding: 40px 32px 26px;
    background: {
        color: #F8F9FC;
    }
    border: {
        radius: 0 0 30px 30px;
    }
    box: {
        shadow: 0 3px 6px rgba(0, 0, 0, .16);
    }

    > * {
        font: {
            size: rem(14);
            weight: 400;
        }
        color: #666666;
    }
}

@media all and (min-width: 992px) {
    .info_title,
    .info-title {
        font: {
            size: rem(20);
        }
    }

    .info_content,
    .info-content {
        > * {
            font: {
                size: rem(16);
            }
        }
    }
}